<?xml version="1.0" encoding="utf-8" ?>
<!-- 配置logback -->
<configuration>

	<!-- logger上下文名字，区分不同的应用程序 -->
	<contextName>drysrb</contextName>
	
	<!-- property定义一些可以引用的属性键值对 -->
	<!-- log输出目录 -->
	<property name="log.path" value="C:\\PseudoD\\Projects\\test\\oss" />
	
	<!-- 控制台日志格式 彩色日志-->
	<!-- %n保证每一个log换行 -->
	<property name="CONSOLE_LOG_PATTERN"
	          value="%yellow(%date{yyyy-MM-dd HH-mm-ss}) %highlight([%-5level]) %green(%logger) %msg%n" />
	<!-- 文件日志格式 -->
	<property name="FILE_LOG_PATTERN"
	          value="%date{yyyy-MM-dd HH:mm:ss} [%-5level] %thread %file:%line %logger %msg%n" />
	<!--编码-->
	<property name="ENCODING" value="UTF-8" />
	
	<!-- 1.控制台日志 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>${ENCODING}</charset>
		</encoder>
	</appender>
	
	<!-- 2.文件日志 -->
	<!-- file标签标识文件路径，不存在则自动创建 -->
	<!-- append默认为true追加到文件末尾，false会清空现存文件重写 -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${log.path}\\log.log</file>
		<append>true</append>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<charset>${ENCODING}</charset>
		</encoder>
	</appender>
	
	<!-- 3.滚动文件日志 -->
	<appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}\\log-rolling.log</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<charset>${ENCODING}</charset>
		</encoder>
		
		<!-- 设置滚动策略 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 归档日志文件路径格式 -->
			<fileNamePattern>${log.path}\\info\\log-rolling-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- 12个月后将删除所有过期文档 -->
			<maxHistory>12</maxHistory>
			<!-- 触发滚动时机，1kb就归档 -->
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10Mb</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	
	
	<!-- 日志记录器  -->
	<!-- 控制某包下日志的打印级别， -->
	<!-- <logger name="com.dry" level="INFO"> -->
	<!-- 	<appender-ref ref="CONSOLE" /> -->
	<!-- 	<appender-ref ref="FILE" /> -->
	<!-- </logger> -->
	
	<!-- 更精准地配置日志记录器 -->
	<!-- 开发环境和测试环境 -->
	<springProfile name="dev,test">
		<logger name="com.dry" level="INFO">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="ROLLING_FILE"/>
		</logger>
	</springProfile>
	
	<!-- 生产环境 -->
	<springProfile name="prod">
		<logger name="com.dry" level="ERROR">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="ROLLING_FILE"/>
		</logger>
	</springProfile>
	
</configuration>